.row5{
    float: center;
    text-decoration: none;
    

}

    a{
        float: center;
        text-decoration: none;
    }
    body{
        background-image: url(search1.jpg);
        background-repeat: no-repeat;
        background-size: 500px;
    }
    
    
.col8{
    text-align: center;
    text-decoration: none;
}
.col9{
    text-align: center;
    text-decoration: none;
}
.col10{
    text-align: center;
    text-decoration: none;
}
ul li
{
    list-style-type: none;
}